.activityCallContainer {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.activityCallContainer div:first-child {
	font-size: 8px;
}

.activityCallDivider {
	background-color: #fff;
	border-top: 1px dashed rgb(146, 183, 161);
	margin-bottom: 15px;
	padding: auto 15px auto 15px;
}
