.container {
	width: 376px;
	height: 766px;
	z-index: 100;

	background: white;
	border-radius: 3px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9);
}

.containerView {
	padding: 15px;
}

.headerSVGContainer {
	position: absolute;
	z-index: -1;
	left: 0px;
	width: 100%;
	top: 0;
}
